In [83]:
#importing libraries
import pandas as pd
import numpy as np

from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso

In [26]:
df=pd.read_csv("C:\\Users\\ACE\\Desktop\\energydata_complete.csv")

In [27]:
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

Number 12: 
From the dataset, fit a linear model on the relationship between the temperature in the living room
in Celsius (x = T2) and the temperature outside the building (y = T6).
What is the R^2 value in two d.p.?

In [28]:
x=df.T2.values.reshape(-1,1)
y=df.T6

In [29]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=42)

In [30]:
LR=LinearRegression().fit(x_train,y_train)
y_pred=LR.predict(x_test)

In [31]:
print('Coefficient of determination (R^2): %.2f'
      % r2_score(y_test, y_pred))

Coefficient of determination (R^2): 0.64

Number 13:
Normalize the dataset using the MinMaxScaler after removing the following columns: [“date”, “lights”]. 
The target variable is “Appliances”. Use a 70-30 train-test set split with a random state of 42 (for reproducibility).
Run a multiple linear regression using the training set and evaluate your model on the test set. 
Answer the following questions:

What is the Mean Absolute Error (in two decimal places)?

In [32]:
new_df = df.drop(['date', 'lights'], axis=1)
new_df.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,60,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,50,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,50,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,60,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [33]:
scaler = MinMaxScaler()
normalized_df = pd.DataFrame(scaler.fit_transform(new_df), columns=new_df.columns)

features = normalized_df.drop(columns='Appliances')
target = normalized_df['Appliances']

In [99]:
x_tra,x_tes,y_tra,y_tes=train_test_split(features,target,test_size=0.3,random_state=42)

In [100]:
linear= LinearRegression()
linear.fit(x_tra, y_tra)

LinearRegression()

In [101]:
pred = linear.predict(x_tes)
MAE = mean_absolute_error(y_test,pred)
print(f'MAE: {round(MAE,2)}')

MAE: 8.16

Number 14:
What is the Residual Sum of Squares (in two decimal places)?

In [89]:
rss = np.sum(np.square(y_tes - pred))
print(f'Residual Sum of Squares: {round(rss, 2)}')

Residual Sum of Squares: 45.35

Number 15:
What is the Root Mean Squared Error (in three decimal places)?

In [90]:
rmse = np.sqrt(mean_squared_error(y_tes, pred))
print(f'RMSE: {round(rmse, 3)}')

RMSE: 0.088

Number 16
What is the Coefficient of Determination (in two decimal places)?

In [91]:
print('Coefficient of determination (R^2): %.2f'
      % r2_score(y_tes,pred))

Coefficient of determination (R^2): 0.15

Number 17:
Obtain the feature weights from your linear model above. Which features have the lowest and highest weights respectively?

In [92]:
def feature_weights(model, features):
    weights = pd.Series(model.coef_, features).sort_values()
    weights_df = pd.DataFrame(weights, columns=['Weight'])
    return weights_df


feature = features.columns
feature_weights( linear, feature)

               Weight
RH_2        -0.456698
T_out       -0.321860
T2          -0.236178
T9          -0.189941
RH_8        -0.157595
RH_out      -0.077671
RH_7        -0.044614
RH_9        -0.039800
T5          -0.015657
T1          -0.003281
rv2          0.000770
rv1          0.000770
Press_mm_hg  0.006839
T7           0.010319
Visibility   0.012307
RH_5         0.016006
RH_4         0.026386
T4           0.028981
Windspeed    0.029183
RH_6         0.038049
RH_3         0.096048
T8           0.101995
Tdewpoint    0.117758
T6           0.236425
T3           0.290627
RH_1         0.553547

Number 18:
Train a ridge regression model with an alpha value of 0.4.
Is there any change to the root mean squared error (RMSE) when evaluated on the test set?

In [93]:
ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(x_tra, y_tra)
ridge_pred = ridge_reg.predict(x_tes)

#obtaining the RMSE score
rmse = np.sqrt(mean_squared_error(y_tes, ridge_pred))
round(rmse, 3)

0.088

Number 19:
Train a lasso regression model with an alpha value of 0.001 and obtain the new feature weights with it.
How many of the features have non-zero feature weights?

In [94]:
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(x_tra, y_tra)

feature_weights(lasso_reg, feature)

               Weight
RH_out      -0.049557
RH_8        -0.000110
T1           0.000000
Tdewpoint    0.000000
Visibility   0.000000
Press_mm_hg -0.000000
T_out        0.000000
RH_9        -0.000000
T9          -0.000000
T8           0.000000
RH_7        -0.000000
rv1         -0.000000
T7          -0.000000
T6           0.000000
RH_5         0.000000
T5          -0.000000
RH_4         0.000000
T4          -0.000000
RH_3         0.000000
T3           0.000000
RH_2        -0.000000
T2           0.000000
RH_6        -0.000000
rv2         -0.000000
Windspeed    0.002912
RH_1         0.017880

Number 20:
What is the new RMSE with the lasso regression? (Answer should be in three (3) decimal places)

In [95]:
lasso_pred=lasso_reg.predict(x_tes)
rmse=np.sqrt(mean_squared_error(y_tes,lasso_pred))
print(f'Lasso RMSE: {round(rmse,3)}')

Lasso RMSE: 0.094